      <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/shoeless0x80/shoeless0x80.github.io/">Bay Area Infosec</a> was shamelessly heisted from <a href="https://github.com/trailofbits">Trail of Bits</a> and is maintained by <a href="https://twitter.com/shawnbanta">@shawnbanta</a>.</span>
        <span class="site-footer-credits">Know {{ page.footer }} not listed? Tell us about it on the <a href="https://github.com/shoeless0x80/shoeless0x80.github.io/issues/new">Submit an issue</a> on GitHub.</span>
      </footer>
